<% if can? :manage, Product %>

	<div class="row">
	  <div class="col-md-8 col-md-offset-2">
			<h1>Update Product Details</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @product %> |
			<%= link_to 'Back', products_path %>
		</div>
	</div>
	
<% end %>